@font-face {
    font-family: workSans;
    src: url('C:/Users/Maria Virginia/OneDrive/Escritorio/Development Folder/CapstoneAcademy/resources/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

body{
    font-family: workSans;
    background-color: white;
    margin: auto;
    color: #5b5c62;
}

#headercontainer {
    display: inline-flex;
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    align-items: center;
}

#logo{
    margin-left: 24px;
    width: auto;
    height: 60px;
    padding-top: 10px;
}

#titulo{
    font-size: 2rem;
    padding-top: 5px;
}

.colmar{
    font-weight: bolder;
    color: black;
}

.nav-items {
    margin-left: auto;
    position: relative;
    right: 24px;
    font-size: 1.25rem;
    color: #5b5c62;
}

.nav-items a{
    color: #5b5c62;
    text-decoration: none;
    
}

.item-margin{
    margin-right: 16px;
}

#container1 {
    display: inline-flex;
    width: 100%;
    height: auto;
    background-color: #D9DBE2;
    align-items: center;
}

#banner-img {
    margin: 32px 24px;
    width: 60%;
    height: auto;
}

#banner-text {
    width: 40%;
    height: auto;
}

#start-button {
    background-color: #5b5c62;
    color: white;
    width: 270px;
    height: 36px;
    text-align: center;

}

#start-button p {
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}





#container2 {
    display: inline-flex;
    margin-bottom: 32px;
}

#left-container{
    width: 60%;
    height: auto;
    margin-right: 24px;
}

#left-container img {
    width: 100%;
    height: auto;
    margin: 32px 24px;
    padding-right: 24px;
    padding-top: 16px;
    overflow: hidden;
}

#banner2-h2 {
    margin: 0 24px 24px 24px;
}

#banner2-p{
    margin: 0 24px 24px 24px;
    font-size: 1.25rem;
}

#banner2-name{
    text-align: left;
    margin-left: 24px;
    font-size: 1.25rem;
}

#right-container{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    position: relative;
    left: 24px;
}

#right-container a {
    color: blue;
    text-decoration: none;
}

.flex-cont-items{
    display: inline-flex;
    width: 100%;
    height: auto;
}

.flex-cont-items:hover {
    background-color: #D9DBE2;
}


.items-text{
    margin: auto;
    position: relative;
    left: 16px;
    bottom: 15px;
    font-size: 1.25rem;
}

.items-img {
    width: 35%;
    height: auto;
}

#img-margin1 {
    margin: 0 0 16px 16px;
    padding-top: 16px;
}

#img-margin2, #img-margin3 {
    margin: 16px 0 16px 16px
}






#container3 {
    text-align: center;
    background-color: #D9DBE2;
}

#container3 h1 {
    padding: 32px 0;
}

.cont3-flex-items{
    display: flex;
    margin: 0 72px 32px 72px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.cont3-child{
    background-color: white;
    margin: 32px;
    transition: width 2s ease-in 1s, height 2s ease-in 1s, background-color 0.70s ease-in-out, color 0.70s ease-in-out;
}

.cont3-child:hover {
    max-width: 40%;
    max-height: 40%;
    background-color: #5b5c62;
    color: white;
}

.cont3-child img {
    width: 100%;
    overflow: hidden;

}












